* { margin: 0; padding: 0; box-sizing: border-box; }

:root {
    --clr-primary: #f0f0f0;
    --clr-secondary: #000000;

    --ff-regular: "Roboto", sans-serif;
    --ff-bold: "Roboto Condensed", sans-serif;
    --fw-regular: 400;
    --fw-bold: 700; 
}


/* utility-classes */
.inline-block {
    display: inline-block;
}
.cursor-pointer {
    cursor: pointer;
}
.underline {
    text-decoration: underline;
}


/* general-styling */
body {
    font-family: var(--ff-regular);
    background-color: var(--clr-primary);
}

/* scroll-snapping */
html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

header {

    & .brand {
        position: fixed;
        left: 0;
        top: 0;
        margin: 1rem;
        text-transform: uppercase;
        font-family: var(--ff-bold);
    }

    & .projectlink {
        position: fixed;
        right: 0;
        top: 0;
        margin: 1.5rem 1rem;
        color: var(--clr-secondary);

        font-size: 1.125rem;
        font-weight: var(--fw-bold);
    }
}

.container {
    display: grid;
    place-content: center;
    text-align: center;

    & .child {
        display: grid;
        place-content: center;
        height: 100vh;
        scroll-snap-align: center;
        scroll-snap-stop: always;
    }

    & img {
        height: 30rem;
        max-width: 100%;
    }
}


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    max-width: 25%;
    padding: 1rem;

    & p {
        font-size: 1.125rem;
        font-weight: var(--fw-bold);
        line-height: 1.5rem;
        letter-spacing: 0.5px;
        word-spacing: 1px;
    }

    & span {
        margin: 0.5rem 0;
        font-size: 0.75rem;
        text-decoration: underline;
    }
}

.scroll-snap-menu {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 1rem;

    & li {
        list-style-type: none;
    }
}

.scroll-snap-menu__links {
    text-decoration: none;
    color: var(--clr-secondary);

    &:hover {
        text-decoration: underline;
    }
}